<!DOCTYPE html>
<html lang="en">
<%- include('./public/head.ejs')%>
<body>
  <%- include('./public/header.ejs')%>
  <section class="main floatfix">
    <%- include('./public/aside.ejs')%>
    <section class="main-articles friends">
      <h2>Node 的友情链接网站</h2>
      <ul>
        <li><a href="https://aurorablog.top" target="blank">Aurora博客</a></li>
        <li><a href="https://aurorablog.top" target="blank">Aurora博客</a></li>
        <li><a href="https://aurorablog.top" target="blank">Aurora博客</a></li>
        <li><a href="https://aurorablog.top" target="blank">Aurora博客</a></li>
        <li><a href="https://aurorablog.top" target="blank">Aurora博客</a></li>
        <li><a href="https://aurorablog.top" target="blank">Aurora博客</a></li>
      </ul>
    </section>
  </section>
  <%- include('./public/footer.ejs') %> 
</body>
</html>